<h1>EXAMPLE TEMPLATE. PLEASE EDIT</h1>

<p>Hello again,</p>

<p>Following the locksmith work I recently carried out on your property, I just want to say thanks again for choosing SF Locksmiths of South Yorkshire, I hope you were pleased with the service and in the unlikely event that you do experience any problems don't hesitate to get in touch.</p>

<p>A lot of my business is gained through referrals so it's important I leave knowing that you are satisfied with the work carried out.</p>

<p>On this note, I would be really grateful if you could spare a moment to leave a review?</p>

<p>Simply click on the following link (or copy and paste the address into your browser) and fill in the online form, it's really quick and easy: <a href="/reviews/submit-a-review/" target="_blank" rel="noopener">Submit a review</a></p>

<p>Thanks in advance for your help, it will help me out enormously.</p>

<p>--------</p>

<p>Stephen</p>

<p>SF Locksmiths of South Yorkshire</p>

<p>07990 573857</p>